@charset "UTF-8";
/* начало блока good */
.good {
  margin-top: 112px;
}

.good-block img {
  width: 100%;
}

.good-block__title {
  margin-bottom: 46px;
  margin-top: 0;
  color: #515151;
  font-size: 23px;
  font-weight: 300;
  margin-left: 22px;
}
.good-block__title::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 18px;
  height: 38px;
  width: 3px;
  background-color: #5ac8fb;
}

.good-block__description {
  margin-bottom: 41px;
  font-size: 15px;
  font-weight: 300;
}

.good-block__subtitle {
  margin-bottom: 21px;
  margin-left: 18px;
  font-size: 15px;
  height: 22px;
  font-weight: 300;
  display: block;
  /* блок good */
}
.good-block__subtitle::after {
  content: url(../img/good/angle-right.svg);
  display: block;
  position: relative;
  top: -20px;
  right: 17px;
}
.good-block__subtitle .good-block__title {
  margin-bottom: 25px;
  font-size: 22px;
}
.good-block__subtitle .good-block__subtitle {
  font-size: 14px;
}
.good-block__subtitle .good-block__description {
  margin-bottom: 26px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  /* блок good */
  .good {
    margin-top: 50px;
  }

  .good-block img {
    margin-top: 25px;
  }

  .good-block__title {
    font-size: 16px;
  }

  .good-block__description {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .good-block__subtitle {
    font-size: 11px;
  }
  .good-block__subtitle::after {
    top: -13px;
  }
}